<ion-app [class.dark-theme]="dark">
  <!-- <ion-split-pane content-id="main" when="false"></ion-split-pane> -->
  <app-backdrop></app-backdrop>
  
  <ion-menu content-id="main">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-title>Menu</ion-title> -->
        <ion-thumbnail slot="start" class="ion-margin-start">
          <img src="assets/img/appicon.svg">
        </ion-thumbnail>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ng-container *ngFor="let section of appMenus; let i = index">
        <ion-list *ngIf="loggedIn === section.showAfterLogin">
          <ion-list-header>
            {{section.sectionName}}
          </ion-list-header>
          <!-- Main Item -->
          <ng-container *ngFor="let menuItem of section.sectionItems; let i = index">
            <!-- Menu link -->
            <ion-menu-toggle autoHide="false" *ngIf="!menuItem.subMenus?.length; else hasSubmenuBlock">
              <ion-item [routerLink]="[menuItem.url]"  routerLinkActive="active" routerDirection="forward">
                <ion-icon slot="start" [name]="menuItem.icon"></ion-icon>
                <ion-label>
                  {{ menuItem.title }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <!-- /Menu link -->
            <!-- With Submenu -->
            <ng-template #hasSubmenuBlock>
              <!-- Menu link -->
              <ion-item (click)="expandClose($event, menuItem)">
                <ion-icon slot="start" [name]="menuItem.icon"></ion-icon>
                <ion-label>
                  {{ menuItem.title }}
                </ion-label>
              </ion-item>
              <!-- /Menu link -->
              <!-- Sub menus -->
              <ng-container *ngIf="menuItem.subMenus?.length">
                <ion-list class="sub-menu" [@expandCollapse]="menuItem.state">
                  <ng-container *ngFor="let subMenuItem of menuItem.subMenus; let i = index">
                    <!-- Sub Menu link -->
                    <ion-menu-toggle autoHide="false" *ngIf="!subMenuItem.subSubMenus?.length; else subSubmenuBlock">
                      <ion-item [routerLink]="[subMenuItem.url]" routerLinkActive="active" routerDirection="forward">
                        <ion-icon slot="start" [name]="subMenuItem.icon"></ion-icon>
                        <ion-label>
                          {{ subMenuItem.title }}
                        </ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                    <!-- /Sub Menu link -->
                    <!-- With Sub Sub menus -->
                    <ng-template #subSubmenuBlock>
                      <!-- Sub Menu link -->
                      <ion-item (click)="expandClose($event, subMenuItem)">
                        <ion-icon slot="start" [name]="subMenuItem.icon"></ion-icon>
                        <ion-label>
                          {{ subMenuItem.title }}
                        </ion-label>
                      </ion-item>
                      <!-- /Sub Menu link -->
                      <ng-container *ngIf="subMenuItem.subSubMenus?.length">
                        <ion-list class="sub-sub-menu" [@expandCollapse]="subMenuItem.state">
                          <!-- Sub Menu link -->
                          <ion-menu-toggle autoHide="false" *ngFor="let subSubMenuItem of subMenuItem.subSubMenus; let i = index">
                            <ion-item [routerLink]="[subSubMenuItem.url]" routerLinkActive="active" routerDirection="forward">
                              <ion-icon slot="start" [name]="subSubMenuItem.icon"></ion-icon>
                              <ion-label>
                                {{ subSubMenuItem.title }}
                              </ion-label>
                            </ion-item>
                          </ion-menu-toggle>
                          <!-- /Sub Menu link -->
                        </ion-list>
                      </ng-container>
                    </ng-template>
                    <!-- /With Sub Sub menus -->
                  </ng-container>
                </ion-list>
              </ng-container>
              <!-- /Sub menus -->
            </ng-template>
            <!-- /With Submenu -->
          </ng-container>
          <!-- /Main Item -->
        </ion-list>
      </ng-container>
      <ion-list>
        <ion-item (click)="toggleTheme()">
          <ion-icon slot="start" name="color-wand"></ion-icon>
          <ion-label>
            Dark Theme
          </ion-label>
          <ion-toggle [(ngModel)]="dark"></ion-toggle>
        </ion-item>
        <ion-menu-toggle autoHide="false"  *ngIf="loggedIn">
          <ion-item button (click)="logout()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>
              Logout
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-content main id="main">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  <ion-footer>
    <app-check-network></app-check-network>
  </ion-footer>

</ion-app>
