<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button *ngIf="routerDatas && routerDatas.hasBackButton"></ion-back-button> -->
      <!-- <ion-back-button></ion-back-button> -->
      <ion-button *ngIf="(routerDatas && routerDatas.hasBackButton) && (ionRouterOutlet && ionRouterOutlet.canGoBack())" (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
      <ion-menu-button *ngIf="routerDatas && routerDatas.hasMenuButton"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="routerDatas">
      {{routerDatas.title}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="mail-unread"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<app-backdrop></app-backdrop>
<app-loader></app-loader>
